:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
  position: relative;  
}

.jumbotron:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/banner.jpg);
    background-size: 100% auto;
    background-position-y: 0px;
    opacity: 0.7;
    z-index: 1;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.navbar{
  background-color: #f3db67!important;
}

.navbar-brand{
  color: #333;
}

.jumbotron p:last-child {
      margin-left: 50px;
    color: #822525;
    font-weight: 600;
}

.jumbotron-heading {
  color: #fff;
  font-weight: 500;
  text-shadow: 5px 3px 9px #940808;

}

.jumbotron .container {
  max-width: 40rem;
  position: absolute;
  z-index: 2;
  left: 113px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

#LargeImageModel-title
{position: absolute;}

.card-img-top{
     height: 180px; 
}

#page-theme .card-img-top{
     height: 230px; 
}

.navbar-light .navbar-toggler{
  border: 0;
}
#large-img
{    width: 100%;}

a.btn{
  color:#6c757d !important;
}

a.btn:hover{
  color:#fff !important;
}

a{
  text-decoration: none;
}

* {
    font-family: "Conlosas","Microsoft YaHei","黑体","宋体",sans-serif;
}
